th{
    background-color: blue;
    color: white;
}

#sth{
    margin-top: 40px;
    border: 5px solid black;
    width: 400px;
    height: 650px;
    border-radius: 5%;
}

img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
h2{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
}

.hashtag{
    color: rgb(0, 208, 255);
}

.dno{
    font-weight: bold;
}