.crv {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: red;
    border: solid black;
}

.pla {
    width: 500px;
    height: 150px;
    background-color: darkblue;
    position: absolute;
    top: 75px;
}

.krug {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 12.5px;
    left: 182.5px;
}

.p {
    background-color: darkblue;
    width: 500px;
    height: 300px;
    position: relative;
    z-index: 1;
    border: solid black;
}

.b1 {
    height: 300px;
    width: 80px;
    position: absolute;
    left: 150px;
    background-color: #fff;
    z-index: 2;
}

.b2 {
    height: 80px;
    width: 500px;
    position: absolute;
    top: 100px;
    background-color: #fff;
    z-index: 2;
}

.c1 {
    height: 300px;
    width: 40px;
    position: absolute;
    left: 170px;
    background-color: red;
    z-index: 3;
}

.c2 {
    height: 40px;
    width: 500px;
    position: absolute;
    top: 120px;
    background-color: red;
    z-index: 3;
}

.t {
    width: 500px;
    height: 300px;
    position: relative;
    z-index: 1;
    background-color: teal;
    border: solid black;
}

.tro {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 250px solid black;
}

.y {
    width: 500px;
    height: 100px;
    position: relative;
    top: 100px;
    z-index: 2;
    background-color: gold
}

.cr {
    width: 500px;
    height: 300px;
    position: relative;
    z-index: 1;
    background-color: red;
    border: solid black;
}

.bs {
    width: 150px;
    height: 300px;
    position: absolute;
    z-index: 2;
    background-color: white
}

.bt1 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    left: 150px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid white;
}

.bt2 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 60px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid white;
}

.bt3 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 120px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid white;
}

.bt4 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 180px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid white;
}

.bt5 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 240px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid white;
}

.grun {
    width: 500px;
    height: 300px;
    position: relative;
    z-index: 1;
    background-color: #007a5e;
    border: solid black;
}

.rot {
    width: 166.7px;
    height: 300px;
    position: absolute;
    z-index: 2;
    background-color: #ce1126;
    left: 166.7px;
}

.zvijezda {
    width: 100px;
    height: 100px;
    background: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    position: absolute;
    left: 33.35px;
    top: 100px;
    z-index: 3;
}

.yelo {
    width: 166.7px;
    height: 300px;
    position: absolute;
    z-index: 2;
    background-color: #fcd116;
    left: 333.3px;
}

.crve {
    width: 500px;
    height: 300px;
    position: relative;
    z-index: 1;
    background-color: red;
    border: solid black;
}

.polm-b {
    width: 175px;
    height: 175px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    top: 62.5px;
    left: 100px;
}

.polm-c {
    width: 137.5px;
    height: 137.5px;
    position: absolute;
    z-index: 3;
    background-color: red;
    border-radius: 50%;
    top: 81.25px;
    left: 145px;
}

.star {
    width: 75px;
    height: 75px;
    background: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    position: absolute;
    left: 250px;
    top: 112.5px;
    z-index: 4;
    transform: rotate(-20deg);
}