html{
    background-image: linear-gradient(180deg, #f5ebfa, #e7dbef, #a56abd, #6e3482, #49225b);
    height: 100%;
}

.b1 {
    width: 500px;
    height: 300px;
    background-color: #49225b;
    position: fixed;
    top: 100px;
    left: 37.5%;
}
.krug1a {
    width: 300px;
    height: 300px;
    background-color: #49225b;
    position: fixed;
    margin: auto;
    top: 100px;
    border-radius: 50%;
    left: 30%;
    
}
.krug1b {
    width: 300px;
    height: 300px;
    background-color: #49225b;
    position: fixed;
    margin: auto;
    top: 100px;
    border-radius: 50%;
    right: 29%;
}

.b2 {
    width: 500px;
    height: 300px;
    background-color: #6e3482;
    position: fixed;
    top: 200px;
    left: 37.5%
}
.krug2a {
    width: 300px;
    height: 300px;
    background-color: #6e3482;
    position: fixed;
    margin: auto;
    top: 200px;
    border-radius: 50%;
    left: 30%;
}
.krug2b {
    width: 300px;
    height: 300px;
    background-color: #6e3482;
    position: fixed;
    margin: auto;
    top: 200px;
    border-radius: 50%;
    right: 29%;
}

.b3 {
    width: 500px;
    height: 300px;
    background-color: #a56abd;
    position: fixed;
    top: 300px;
    left: 37.5%
}
.krug3a {
    width: 300px;
    height: 300px;
    background-color: #a56abd;
    position: fixed;
    margin: auto;
    top: 300px;
    border-radius: 50%;
    left: 30%;
}
.krug3b {
    width: 300px;
    height: 300px;
    background-color: #a56abd;
    position: fixed;
    margin: auto;
    top: 300px;
    border-radius: 50%;
    right: 29%;
}

.b4 {
    width: 500px;
    height: 300px;
    background-color: #e7dbef;
    position: fixed;
    top: 400px;
    left: 37.5%
}
.krug4a {
    width: 300px;
    height: 300px;
    background-color: #e7dbef;
    position: fixed;
    margin: auto;
    top: 400px;
    border-radius: 50%;
    left: 30%;
}
.krug4b {
    width: 300px;
    height: 300px;
    background-color: #e7dbef;
    position: fixed;
    margin: auto;
    top: 400px;
    border-radius: 50%;
    right: 29%;
}

.b5 {
    width: 500px;
    height: 300px;
    background-color: #f5ebfa;
    position: fixed;
    top: 500px;
    left: 37.5%
}
.krug5a {
    width: 300px;
    height: 300px;
    background-color: #f5ebfa;
    position: fixed;
    margin: auto;
    top: 500px;
    border-radius: 50%;
    left: 30%;
}
.krug5b {
    width: 300px;
    height: 300px;
    background-color: #f5ebfa;
    position: fixed;
    margin: auto;
    top: 500px;
    border-radius: 50%;
    right: 29%;
}